<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="respuesta" method="post">
        <label for="">Digite el primer numero</label>
        <input type="number" name="A" id="A"><br>
        <label for="">Digite el segundo numero</label>
        <input type="number" name="B" id="B"><br>
        <label for="">Digite el tercer numero</label>
        <input type="number" name="C" id="C"><br>
        <input type="submit" value="respuesta">
    </form>
    <h1>respuesta: {{respuesta}} </h1>
</body>
</html>